.footer {
  background-color: black;
  color: #ffd700;
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Bebas Neue', sans-serif;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer-logo {
    width: 360px;
    height: auto;
    margin-bottom: 1rem;
    margin-left: 5rem;
  }

  .footer-section {
    max-width: 300px;

    .footer-title {
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
      color: #ffd700;
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      color: white;
    }
  }

  .footer-divider {
    width: 92%;
    margin: -.50rem auto;
    height: 1px;
    background-color: #ffd700;
    border: none;
    opacity: 0.6;
    border-radius: 100px;
  }


  .footer-bottom {
    font-size: 0.9rem;
    color: white;
    line-height: 1.5;
  }

  /* ===== LINKS ===== */
  .footer-section a,
  .footer-section a:visited,
  .footer-section a:active {
    color: #fff;
    text-decoration: none;
  }

  .footer-section a:hover {
    color: #f5d014;
    text-decoration: underline;
  }

}
